In [1]:
import json
import pandas as pd
import math
from numpy import diff

In [2]:
f=open('OPPOFindX5Pro-03-12-01.json')

In [3]:
data = json.load(f)

In [4]:
import numpy as np

In [5]:
print(data.keys())

dict_keys(['MotionIQ', 'rear-streaming-time', 'vehicle-class', 'suspension', 'start-time', 'fork-streamStop', 'speed-wheel-circumference', 'shock-streamStop', 'fork-sag', 'rearReboundLow', 'rear-sensor-type', 'frontModel', 'bike-name', 'shock-present', 'stop-time-str', 'frontReboundLow', 'stop-time', 'location', 'rearSpringRate', 'scalene-pivot-to-eye2', 'publisherUnlocks', 'rearDampLow', 'fork-present', 'front-streaming-time', 'frontPreload', 'fork-worst-rssi', 'sampleRate', 'frontDampLow', 'scalene-enable', 'shock-worst-rssi', 'rearDampHigh', 'rear-axle-travel', 'frontSpringRate', 'speed-wheel-magnets', 'trailConditions', 'frontSpacers', 'fork-max-travel', 'rear-curve-data-version', 'countLocationErrors', 'head-tube-angle', 'recordMode', 'rear-axle-sag', 'scalene-eye-to-eye', 'scalene-pivot-to-eye1', 'elapsed-time', 'frontSpringSetting', 'rearModel', 'fork-disconnects', 'rearTirePressure', 'fork-drops', 'rearSpringSetting', 'time-zone', 'rearSpacers', 'frontTirePressure', 'front-axle-sag', 'rearReboundHigh', 'front-axle-travel', 'split-time', 'gps-moving-time', 'frontReboundHigh', 'shock-drops', 'os-version', 'device-name', 'rating', 'shock-sag', 'sample-count', 'platform', 'rearPreload', 'shock-disconnects', 'countSegments', 'start-time-str', 'bike-model', 'shock-max-travel', 'frontDampHigh', 'locations'])

In [8]:
#print(data['suspension'])

In [7]:
gps_data = data['locations']
frame=pd.DataFrame(gps_data)
print(frame)

             tUTC   latitude     speed    altitude   longitude
0    1.678587e+09 -38.170770  2.440802  635.269043  176.302171
1    1.678587e+09 -38.170732  3.104581  635.488037  176.302190
2    1.678587e+09 -38.170693  3.526130  634.584717  176.302205
3    1.678587e+09 -38.170678  3.729211  634.529907  176.302220
4    1.678587e+09 -38.170647  3.782291  634.529907  176.302231
..            ...        ...       ...         ...         ...
299  1.678587e+09 -38.166481  0.476711  448.283936  176.308617
300  1.678587e+09 -38.166482  0.043975  448.283936  176.308617
301  1.678587e+09 -38.166483  0.002437  447.854187  176.308617
302  1.678587e+09 -38.166483  0.000726  447.693970  176.308618
303  1.678587e+09 -38.166484  0.001362  447.819519  176.308620

[304 rows x 5 columns]

In [9]:
frame['elapsed_time'] = frame['tUTC'] - frame['tUTC'][0]
print(frame)

             tUTC   latitude     speed    altitude   longitude  elapsed_time
0    1.678587e+09 -38.170770  2.440802  635.269043  176.302171         0.000
1    1.678587e+09 -38.170732  3.104581  635.488037  176.302190         1.078
2    1.678587e+09 -38.170693  3.526130  634.584717  176.302205         1.672
3    1.678587e+09 -38.170678  3.729211  634.529907  176.302220         2.270
4    1.678587e+09 -38.170647  3.782291  634.529907  176.302231         2.867
..            ...        ...       ...         ...         ...           ...
299  1.678587e+09 -38.166481  0.476711  448.283936  176.308617       233.126
300  1.678587e+09 -38.166482  0.043975  448.283936  176.308617       233.722
301  1.678587e+09 -38.166483  0.002437  447.854187  176.308617       234.273
302  1.678587e+09 -38.166483  0.000726  447.693970  176.308618       234.798
303  1.678587e+09 -38.166484  0.001362  447.819519  176.308620       235.992

[304 rows x 6 columns]

In [10]:
susp=data['suspension']
df=pd.DataFrame(susp)

In [11]:
df

        time  rearWheel  frontForce  rearForce  shock    fork
0       6159      65.39       -1.56       1.15  25.00  101.01
1       6160      65.34       -1.56       1.15  24.98  100.57
2       6161      65.34       -1.46       0.72  24.98   99.79
3       6162      65.52       -1.46       0.72  25.06   98.66
4       6163      65.84       -1.40       0.52  25.19   97.44
...      ...        ...         ...        ...    ...     ...
47451  53610       9.28       -0.95       0.51   3.27   28.45
47452  53611       9.33       -0.96       0.51   3.29   28.45
47453  53612       9.33       -0.96       0.51   3.29   28.45
47454  53613       9.33       -0.95       0.50   3.29   28.40
47455  53614       9.28       -0.95       0.50   3.27   28.45

[47456 rows x 6 columns]

In [12]:
size=len(df.index)
timedata,interval=np.linspace(0,size/200,num=size,retstep=True, endpoint=False)
print(timedata,interval)

[0.00000e+00 5.00000e-03 1.00000e-02 ... 2.37265e+02 2.37270e+02
 2.37275e+02] 0.005

In [13]:
df['time']=timedata

In [14]:
df

          time  rearWheel  frontForce  rearForce  shock    fork
0        0.000      65.39       -1.56       1.15  25.00  101.01
1        0.005      65.34       -1.56       1.15  24.98  100.57
2        0.010      65.34       -1.46       0.72  24.98   99.79
3        0.015      65.52       -1.46       0.72  25.06   98.66
4        0.020      65.84       -1.40       0.52  25.19   97.44
...        ...        ...         ...        ...    ...     ...
47451  237.255       9.28       -0.95       0.51   3.27   28.45
47452  237.260       9.33       -0.96       0.51   3.29   28.45
47453  237.265       9.33       -0.96       0.51   3.29   28.45
47454  237.270       9.33       -0.95       0.50   3.29   28.40
47455  237.275       9.28       -0.95       0.50   3.27   28.45

[47456 rows x 6 columns]

In [29]:
forkVelocity=np.array(diff(df.fork)/diff(df.time))
shockVelocity=np.array(diff(df.rearWheel)/diff(df.time))
v=forkVelocity,shockVelocity
vd=np.column_stack(v)
vdata=pd.DataFrame(vd, columns=('forkVelocity','rearVelocity'))

In [31]:
data2=pd.concat([df,vdata], axis=1)

In [32]:
data2

,time,rearWheel,frontForce,rearForce,shock,fork,forkVelocity,rearVelocity
0,0.000,65.39,-1.56,1.15,25.00,101.01,-88.0,-10.0
1,0.005,65.34,-1.56,1.15,24.98,100.57,-156.0,0.0
2,0.010,65.34,-1.46,0.72,24.98,99.79,-226.0,36.0
3,0.015,65.52,-1.46,0.72,25.06,98.66,-244.0,64.0
4,0.020,65.84,-1.40,0.52,25.19,97.44,-204.0,54.0
...,...,...,...,...,...,...,...,...
47451,237.255,9.28,-0.95,0.51,3.27,28.45,0.0,10.0
47452,237.260,9.33,-0.96,0.51,3.29,28.45,0.0,0.0
47453,237.265,9.33,-0.96,0.51,3.29,28.45,-10.0,0.0
47454,237.270,9.33,-0.95,0.50,3.29,28.40,10.0,-10.0
47455,237.275,9.28,-0.95,0.50,3.27,28.45,NaN,NaN

In [34]:
data2.describe()

,time,rearWheel,frontForce,rearForce,shock,fork,forkVelocity,rearVelocity
count,47456.000000,47456.000000,47456.000000,47456.000000,47456.000000,47456.000000,47455.000000,47455.000000
mean,118.637500,41.027651,-1.037426,0.386397,15.364696,62.512933,-0.305805,-0.236477
std,68.497558,18.955973,2.260574,1.732743,7.497929,22.690823,535.339003,407.908797
min,0.000000,-9.990000,-16.000000,-10.220000,-9.990000,-9.990000,-17444.000000,-12404.000000
25%,59.318750,28.670000,-2.000000,-0.450000,10.440000,45.240000,-214.000000,-150.000000
50%,118.637500,39.730000,-0.940000,0.340000,14.700000,60.530000,-10.000000,-20.000000
75%,177.956250,51.890000,0.220000,1.020000,19.520000,78.060000,78.000000,28.000000
max,237.275000,129.750000,10.440000,15.870000,52.610000,161.210000,17062.000000,12830.000000

In [35]:
data2.idxmax()

time            47455
rearWheel       39723
frontForce       6480
rearForce        4908
shock           39723
fork            39727
forkVelocity    20602
rearVelocity     9587
dtype: int64